{% extends 'base.html' %} {% block content %}

    <h1 style="text-align: center; margin: 10px;">Fruit Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem; height: 450px; margin-left: 15px;">
                <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">($ {{ product.price }})</p>
                    <a href="#" class="btn btn-primary">Add to card</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}